

body{
  background-color: #f2f5f3;
}


.container{
  padding: 10px;
  /* background-color: red; */
  max-width: 700px;
  margin: 50px auto;
}

.btn{
  background-color: red;
  color: #f2f5f3;
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.addContainer{
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
display:flex;
justify-content: center;
align-items: center;
}

.addContainer form{
  width: 420px;
  background-color:white;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
  border-radius: 5px;
}

.addContainer form label{
 font-size: 15px;
}

.addContainer form input{
  font-size: 18px;
  margin: 5px;
}

.addContainer form .close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;

}